
root = true

[*]
charset = utf-8
indent_style = space # indent style
indent_size = 2 # indent size
trim_trailing_whitespace = true # trim trailing whitespace
insert_final_newline = true # insert final newline

[*.md]
max_line_length = off
trim_trailing_whitespace = false
