
root = true

[*]
charset = utf-8
indent_style = space # 縮排格式 ( tab | space )
indent_size = 2 # 缩进大小
end_of_line = lf # 設定換行類型 ( lf | cr | crlf )
trim_trailing_whitespace = true # 去除行首空白
insert_final_newline = true # 於文件尾插入空行

[*.md]
max_line_length = off
trim_trailing_whitespace = false
