@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Variables
$Black: #353535;
$LightBlack: #424242;
$DarkBlack: #1f1f1f;
$MainColor: #5efff2;
$MainPurple: #7b6ff6;

$SecondaryColor: #546bed;

// variables
$FooterHeight: 127px;
$HeaderHeight: 80px;

body,
html,
#app {
  width: 100%;
  height: 100%;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

// global styles
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Noto Sans TC', 'Noto Sans SC', sans-serif;
  box-sizing: border-box;
}

%link {
  color: #fff;
  text-decoration: none;
}

a[href] {
  text-decoration: none;
}
